<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1046972844884-lbcive3tksiv0649vf2a4td2r5qhngtf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1046972844884-lbcive3tksiv0649vf2a4td2r5qhngtf</string>
	<key>API_KEY</key>
	<string>AIzaSyDMM87ujd2S8x2sw_d9p_5f9GGrSZSv43I</string>
	<key>GCM_SENDER_ID</key>
	<string>1046972844884</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.healthcareBigproject</string>
	<key>PROJECT_ID</key>
	<string>coding-apple-juhan-fluttergram</string>
	<key>STORAGE_BUCKET</key>
	<string>coding-apple-juhan-fluttergram.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1046972844884:ios:0644d7cf22fdc0bf7796c1</string>
</dict>
</plist>